:root{
    --PrimaryColor: #090a1e;
    --SecondaryColor: #00031a ;
    --FontColor: #eee;
    --BorderColor: #29272c;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: var(--PrimaryColor);
    overflow: auto;
    display: flex;
    
}