:root{
    --PrimaryColor: #090a1e;
    --SecondaryColor: #00031a;
    --FontColor: #eee;
    --BorderColor: #29272c;
    --HoverColor: #2f1066;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}