:root{
    --PrimaryColor: #090a1e;
    --SecondaryColor: #00031a;
    --FontColor: #eee;
    --BorderColor: #29272c;
    --HoverColor: #2f1066;
    --TertiaryColor: #6C2905;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main{
    width: 100%;
    padding: 2px;
    color: var(--FontColor);
}
main .Search{
    height: 45px;
    display: flex;
    justify-content: left;
    width: 100%;
}
main .Search article{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}
main .Search article input{
    padding: 7px 10px;
    width: 50%;
    background-color: var(--BorderColor);
    color: var(--FontColor);
    border: none;
    font-weight: 500;
    font-size: 0.9em;
    outline: none;
    transition: .1s linear;
}
main .Search article input::placeholder{
    color: var(--FontColor);
}
main .Search article input:focus{
    background-color: #0b0608;
}
main .Search article input:hover{
    background-color: #0b0608;
}
main .Movies{
    width: 100%;
    height: 545px;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    gap: 5px;
    position: relative;
    top: -10px;
}
main .Movies .Title--section{
    border-bottom: 1px solid var(--FontColor);
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .Movies .Title--section h1{
    font-size: 1.9em;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 10px;
}
main section .Title--section div{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .Movies .Title--section div svg{
    cursor: pointer;
    transition: .1s linear;
}
main .Movies .Title--section div svg:hover{
    padding: 2px;
    fill: var(--TertiaryColor);
}
main .Movies .Movie{
    width: 100%;
    height: 480px;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Movies .Movie::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
main .Movies .Movie::-webkit-scrollbar-thumb{
    background-color: var(--FontColor);
}
main .Movies .Movie .List--Movie{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2px;
}
main .Movies .Movie .List--Movie .Movie--List{
    width: 300px;
    height: 185px;
    padding: 2px;
    margin-left: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    gap: 2px;
}
main .Movies .Movie .List--Movie .Movie--List img{
    border: 2px solid var(--BorderColor);
    width: 100%;
    height: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s linear;
}
main .Movies .Movie .List--Movie .Movie--List img:hover{
    padding: 2px;
    border: 2px solid var(--HoverColor);
}
main .Movies .Movie .List--Movie .Movie--List div{
    width: 100%;
    border-bottom: 1px solid var(--BorderColor);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .Movies .Movie .List--Movie .Movie--List div span{
    font-size: 0.9em;
    color: #ccc;
    letter-spacing: 1px;
    font-weight: 500;
}
main .Movies .Movie .List--Movie .Movie--List h4{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 500;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*Dialog*/
dialog{
    background: linear-gradient(to left, var(--PrimaryColor), var(--BorderColor));
    width: 45%;
    height: 370px;
    padding: 5px;
    position: absolute;
    left: 400px;
    top: 100px;
    color: var(--FontColor);
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0 0 35px var(--BorderColor);
}
dialog[open]{
    animation: openModal 0.5s forwards;
}
/* Animación para abrir el modal */
@keyframes openModal {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
dialog #Cerrar{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    cursor: pointer;
    padding: 0 15px;
    font-size: 1.1em;
    font-weight: 500;
    transition: .1s linear;
    text-align: center;
}
dialog #Cerrar:hover{
    padding: 2px;
    background-color: var(--TertiaryColor);
}
dialog .Content--dialog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
dialog .Content--dialog .content--left{
    width: 295px;
    padding: 3px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 3px;
}
dialog .Content--dialog .content--left img{
    border: 1px solid var(--HoverColor);
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
dialog .Content--dialog .content--left .Title{
    width: 100%;
    text-align: center;
    height: 30px;
}
dialog .Content--dialog .content--left .Title h3{
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 500;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
dialog .Content--dialog .content--left .Info{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
dialog .Content--dialog .content--left .Info div{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    border-top: 2px solid var(--FontColor);
    border-radius: 5px;
}
dialog .Content--dialog .content--left button{
    width: 85%;
    margin-top: 3px;
    padding: 7px 10px;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 500;
    border: none;
    background-color: var(--BorderColor);
    color: var(--FontColor);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    transition: .1s linear;
}
dialog .Content--dialog .content--left button:hover{
    background-color: var(--TertiaryColor);
    padding: 8px 10px;
}
dialog .Content--dialog .content--right{
    display: flex;
    flex-flow: column wrap;

    width: 290px;
}
dialog .Content--dialog .content--right h4{
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 500;

}
dialog .Content--dialog .content--right .Overview{
    text-align: justify;
    font-size: 1em;
    text-wrap: pretty;
    border-top: 2px solid var(--FontColor);
    font-weight: 500;
    height: 92%;
    
}