<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-entertainment || Program TV</title>
    <link rel="stylesheet" href="../../Css/Layouts/Program.css">
    <link rel="stylesheet" href="../../Css/Sidebar/Sidebar.css">
    <link rel="stylesheet" href="../../Font/Font.css">
    <link rel="stylesheet" href="../../Css/Body.css">
</head>
<body>
    <!--Nav-->
    <nav>
        <img src="../../Imagen/Movie.svg" alt="Logo">
        <ul>
            <li>
                <a href="../../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm320-320v240h240v-240H520Zm0-80h240v-240H520v240Zm-80 0v-240H200v240h240Zm0 80H200v240h240v-240Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="../Movies/Movies.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="m160-800 80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h120q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm0 240v320h640v-320H160Zm0 0v320-320Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="Program.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#64001b">
                        <path d="M320-120v-80H160q-33 0-56.5-23.5T80-280v-480q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v480q0 33-23.5 56.5T800-200H640v80H320ZM160-280h640v-480H160v480Zm0 0v-480 480Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="../BookMarked/BookMarked.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="Imagen--User">
            <img src="../../Imagen/Logo.jpg" alt="Logo">
        </div>
    </nav>
    <!--Main-->
    <main>
        <section class="Search">
            <article>
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
                    <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                </svg>
                <input type="search" placeholder="Search for bookmarked shows" id="Search--Favorite">
            </article>
        </section>
        <section class="Series-section">
            <article class="Title--section">
                <h1 id="Title">TV Series</h1>
                <div>
                    <svg id="Arrow_left" xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
                        <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
                    </svg>
                    <svg id="Arrow_right" xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed">
                        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
                    </svg>
                </div>
            </article>
            <article class="List--series">
                <div class="Series" id="Series"></div>
            </article>
        </section>
    </main>
    <!--Dialog-->
    <dialog class="Ventana-Modal" id="Ventana-Modal">
        <span id="Cerrar">X</span>
        <div class="Content--dialog">
            <div class="content--left">
                <img src="" alt="Logo" id="Imagen">
                <div class="Title">
                    <h3 id="Title-dialog"></h3>
                </div>
                <div class="Info">
                    <div>
                        <span>Relase Date:</span>
                        <span id="Fecha--dialog"></span>
                    </div>
                    <div>
                        <span>Catalog:</span>
                        <span id="Catalogo--dialog"></span>
                    </div>
                    <div>
                        <span>Classification:</span>
                        <span id="Tipo--movie"></span>
                    </div>
                    <div>
                        <span>Popularity:</span>
                        <span id="Popularity"></span>
                    </div>
                </div>
                <button id="Favorite--bookmarked">Add to favorites</button>
            </div>
            <div class="content--right">
                <h4>Overview:</h4>
                <p class="Overview" id="Overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, adipisci inventore magnam dolorum qui esse repellat optio molestiae perferendis unde ipsam accusamus numquam vitae ipsa impedit tempore aperiam aliquid? Quae!</p>
            </div>
        </div>
    </dialog>
</body>
<script src="../../Js/Program.js"></script>
</html>