<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-entertainment || Program TV</title>
    <link rel="stylesheet" href="../../Css/Layouts/Program.css">
    <link rel="stylesheet" href="../../Css/Sidebar/Sidebar.css">
    <link rel="stylesheet" href="../../../public/Font/Font.css">
</head>
<body>
    <!--Nav-->
    <nav>
        <img src="../../../public/Imagen/Movie.svg" alt="Logo">
        <ul>
            <li>
                <a href="../../../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm320-320v240h240v-240H520Zm0-80h240v-240H520v240Zm-80 0v-240H200v240h240Zm0 80H200v240h240v-240Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="../Movies/Movies.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#64001b">
                        <path d="m160-800 80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h120q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm0 240v320h640v-320H160Zm0 0v320-320Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="Program.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="M320-120v-80H160q-33 0-56.5-23.5T80-280v-480q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v480q0 33-23.5 56.5T800-200H640v80H320ZM160-280h640v-480H160v480Zm0 0v-480 480Z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="../..//Layouts/BookMarked/Book.html">
                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#e8eaed">
                        <path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="Imagen--User">
            <img src="../../../public/Imagen/Logo.jpg" alt="Logo">
        </div>
    </nav>
    <!--Main-->
    <main>
        
    </main>
</body>
<script src="../../Js/Program.js"></script>
</html>